<launch>
	
	<group ns="right">
	<node pkg="wall_follow" type="wall_follow_besideWall" name="besideWall">
		<rosparam command="load" file="$(find wall_follow)/launch/besideWallRight_params.yaml"/>
		<remap from="/right/besideWall/mavros/local_position/pose" to="/mavros/local_position/pose"/>
		<remap from="/right/besideWall/mavros/state" to="/mavros/state"/>
		<remap from="/right/besideWall/besideWall/vel" to="/mavros/setpoint_raw/local"/>
	</node>
	</group>

</launch>