<launch>
	
	<rosparam command="load" file="$(find wall_follow)/launch/besideWallRight_params.yaml"/>
	<node pkg="wall_follow" type="wall_follow_besideWall" name="besideWall" ns="right">
		<remap from="/right/mavros/local_position/pose" to="/mavros/local_position/pose"/>
		<remap from="/right/mavros/state" to="/mavros/state"/>
		<!--remap from="/mavros/setpoint_raw/local" to="/right/besideWallPub"/-->
	</node>

</launch>